@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pompiere&family=Walter+Turncoat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mynerve&family=Pompiere&family=Walter+Turncoat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

.navbar{
    font-family: "Nunito Sans", sans-serif;
    background-color: #52BE80;
}

.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}

.logo{ 
    display: flex;
    width: 15%;
    height: 10%;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carousel-item img{
    transition: all 0.2s ease;
    position: relative;
}

.overlay{
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay p{
  font-family: "Mynerve", cursive;
  color: yellowgreen;
  font-weight: bold;
}

.carousel-item img :hover .overlay{
    opacity: 1;
}

.seccion-clara{
    background-color: white;
    height: 700%;
}

.seccion-oscura{
    background-color: #F2F4F4;
    height: 700px;
}

.seccion-titulo{
    font-family: "Walter Turncoat", cursive;
    font-size: 60px;
    font-weight: bold; 
}

.seccion-texto{
    font-family: "Pompiere", sans-serif;
    font-size: 40px;
    font-style: normal;
}

.titulo-formulario{
    font-family: "Walter Turncoat", cursive;
    font-size: 30px;
    font-weight: bold; 
}

form{
    border: 2px solid #8080804d;
    transition: all 0.2s ease-in;
}

form :hover{
    background-color: #FCF3CF;
}

.btn-primary{
    margin: 5px 0px 5px 0px;
    font-weight: bold;
}

footer{
    display: flex;
    background-color: #D0D3D4;
}

h3{
    display: flex;
    font-family: "Nunito Sans", sans-serif;
    color: #666;
    font-weight: bold;
}

@media screen and (max-with: 767px){
    .navbar-brand{
        display: none;
    }   
}
